<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
        <add name="PostDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\denyss\2_Course\Human-machine interaction\WF lab1\PostDatabase.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>